.randomTweet__header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 4rem 6rem 4rem;
}

.randomTweet__container h4 {
	background-color: rgb(86, 196, 255);
	font-style: italic;
	font-weight: 300;
	padding: 1rem;
	border-radius: 10px;
	margin-left: 3rem;
}

.images-container {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	gap: 1rem;
	justify-content: center;
	justify-items: center;
	align-items: end;
}
@media only screen and (max-width: 600px) {
	.randomTweet__header {
		flex-direction: column;
		margin: 1rem 0;
	}
	.randomTweet__header h4 {
		margin: 0.5rem 0;
	}
	/* .search__icon {
		width: 6rem;
	} */
}

.images-container img {
	width: 8rem;
}
.images-container img:hover {
	opacity: 0.7;
}

.images-container > *:hover {
	cursor: pointer;
}

.images-container .chess-pic {
	width: 5rem;
}
